# Server Port
PORT=

# Database Connection
MONGO_URL=


# Email Configuration
EMAIL_ADMIN=
EMAIL_PASS=

# JWT Secret Key
JWT_SECRET=

TWILIO_SID=your_twilio_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here

AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key

# S3 Buckets
AWS_S3_BUCKET_SCHOOLEMY=course-audio-bucket-schoolemy
AWS_S3_BUCKET_TUTOR=course-audio-bucket-tutors
AWS_S3_STAFF_BUCKET=admin-staff-profile-image

# Tutor System Configuration
GST_RATE=18
SUPER_ADMIN_KEY=

# Google Meet Configuration
PHYSICS_MEET_LINK=https://meet.google.com/tap-ygcn-sjz
CHEMISTRY_MEET_LINK=https://meet.google.com/wqn-gpuv-mba
MATHS_MEET_LINK=https://meet.google.com/sxo-dhgm-rnh